* {
  margin: 0;
  padding: 0;
}
.gameBoard {
  background: url("/img/grid.gif") repeat;
  background-size: 40px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 75%;
}
.cell {
  background: no-repeat center center;
  background-size: auto 90%;
  position: absolute;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
.cell.mine {
  background-image: url("/img/mine.png");
}
.cell.finish {
  background-image: url("/img/finish_flag.png");
}
.cell.player {
  background-image: url("/img/blue_robot.png");
}
.selection {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
}
.selectionItem {
  list-style: none;
}
