* {
  margin: 0;
  padding: 0;
}
.gameBoard {
  background: url("/img/grid.gif") repeat;
  background-size: 40px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 75%;
}
.entity {
  background: no-repeat center center;
  background-size: auto 90%;
  position: absolute;
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -ms-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
}
.entity.mine {
  background-image: url("/img/mine.png");
}
.entity.finish {
  background-image: url("/img/finish_flag.png");
}
.entity.player {
  background-image: url("/img/blue_robot.png");
}
.selection {
  height: 100%;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
}
.selectionItem {
  list-style: none;
  text-align: right;
}
.selectionItem.game {
  padding: 0px 2px;
}
.selectionItem.player {
  font-size: 18px;
  font-weight: bold;
  padding: 4px 6px;
}
.selectionItem.player a {
  color: black;
  text-decoration: none;
}
